.perfil h2 {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 20px;
}

.info-about {
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: center;

  .about {
    width: 70%;
    align-self: center;
    flex: 2;

    h3 {
      font-size: 1.6rem;
      margin-bottom: 18px;
    }
  }

  .avatar {
    width: 3%;
    display: flex;
    justify-content: center;
    flex: 1;
    margin: 0 auto;

    img {
      width: 200px;
    }
  }
}

@media (width > 769px) {
  .perfil h2 {
    font-size: 2.4rem;
  }

  .info-about {
    flex-direction: row;
    gap: 40px;
    max-width: 100%;
    padding-left: 4%;
    margin: 0 auto;
    text-align: left;

    .about {
      p {
        font-size: 1.2rem;
        max-width: 600px;
      }
    }

    .avatar {
      img {
        width: 280px;
      }
    }
  }
}
