.perfil h2 {
  font-size: 2.6rem;
  text-align: center;
  margin-block: 10px 14px;
}

.info-about {
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: center;

  .about {
    align-self: center;
    flex: 2;

    h3 {
      font-size: 1.8rem;
      margin-bottom: 18px;
    }

    p {
      font-size: 1.2rem;
      line-height: 1.4;
    }
  }

  .avatar {
    display: flex;
    justify-content: center;
    flex: 1;
    margin: 0 auto;
    animation: avatar 5s ease-in-out infinite;

    img {
      width: 200px;
    }
  }
}

@keyframes avatar {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}

@media (width > 769px) {
  .perfil h2 {
    font-size: 2.8rem;
  }

  .info-about {
    flex-direction: row;
    gap: 40px;
    max-width: 100%;
    padding-left: 4%;
    margin: 0 auto;
    text-align: left;

    .about {
      h3 {
        font-size: 2rem;
      }

      p {
        font-size: 1.4rem;
        max-width: 600px;
      }
    }

    .avatar {
      img {
        width: 280px;
      }
    }
  }
}
