* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--fundo-bg);
  font-family: Arial, Helvetica, sans-serif;
}

.btn {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 600;
  background-color: transparent;
}

.btn-mobile {
  color: var(--text-primary);
  font-size: 1.4rem;
}

header {
  position: sticky;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 100px;

  .nav-bar {
    display: flex;
    padding: 12px 4%;
    justify-content: space-between;
    align-items: center;
    background-color: #000000;

    ul {
      display: none;
      list-style: none;
      flex-direction: column;
      gap: 1.6rem;
      width: 100%;
      position: absolute;
      top: 110px;
      left: 0;
      background-color: #000000;
      padding: 1rem;

      &.show {
        display: flex;
      }

      li {
        text-align: center;

        a {
          color: var(--text-primary);
          text-decoration: none;
          font-weight: 500;
          font-size: 1.4rem;
          transition: all 0.3 ease;

          &:hover {
            color: #fefefe;
            border-bottom: 1px solid #fefefe;
          }
        }
      }
    }
  }
}

.main {
  display: flex;
  box-shadow: #000000;
  align-items: center;
  height: calc(100vh - 100px);
  padding-left: 4%;
  background: url("/assets/image/bg-fundo.png") no-repeat;
  background-size: cover;

  h1,
  h2 {
    color: #fefefe;
    margin-bottom: 8px;
    font-size: 2.4rem;
  }

  .redes {
    cursor: pointer;
    padding-left: 16%;

    img {
      width: 48px;
    }
  }

  .call-on-action {
    margin-block: 6px 20px;
    padding: 10px 16px;
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: 4px;
    color: var(--text-primary);
    cursor: pointer;
    border: none;
    transition: all 0.9s;

    &:hover {
      background-color: var(--text-primary);
      color: #fefefe;
      transform: scale(1.1);
    }
  }
}

@media (width > 769px) {
  header {
    .nav-bar {
      .btn-mobile {
        display: none;
      }

      ul {
        display: flex;
        flex-direction: row;
        position: static;
        gap: 2rem;
        width: auto;
        padding: 0;
      }
    }
  }
}
