* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--fundo-bg);
  font-family: Arial, Helvetica, sans-serif;
  color: var(--text-second);
}

.container {
  margin: 0 auto;
  padding-inline: 4rem;
}

.btn {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 600;
  background-color: transparent;
}

.btn-mobile {
  color: var(--text-primary);
  font-size: 1.4rem;
}
