header {
  position: sticky;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 90px;
  background-color: rgba(15, 23, 42, 0.8);

  .nav-bar {
    display: flex;

    justify-content: space-between;
    align-items: center;

    ul {
      display: none;
      list-style: none;
      flex-direction: column;
      gap: 1.6rem;
      width: 100%;
      position: absolute;
      top: 90px;
      left: 0;
      background-color: rgba(15, 23, 42, 0.8);
      padding: 1rem;

      &.show {
        display: flex;
      }

      li {
        text-align: center;

        a {
          color: var(--text-second);
          text-decoration: none;
          font-weight: 500;
          font-size: 1.4rem;
        }
      }
    }
  }
}

.main {
  display: flex;
  box-shadow: #000000;
  align-items: center;
  height: calc(100vh - 100px);
  padding-left: 4%;
  background: url("/assets/image/bg-fundo.png") no-repeat;
  background-size: cover;

  h1,
  h2 {
    color: var(--text-second);
    margin-bottom: 8px;
  }

  h1 {
    font-size: 2.4rem;
  }

  h2 {
    font-size: 1.8rem;
  }

  .redes {
    cursor: pointer;
    padding-left: 16%;

    img {
      width: 38px;
    }
  }

  .call-on-action {
    margin-block: 6px 20px;
    padding: 10px 16px;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 4px;
    color: var(--text-primary);
    cursor: pointer;
    border: none;
    transition: all 0.9s;

    &:hover {
      background-color: var(--text-primary);
      color: var(--text-second);
      transform: scale(1.1);
    }
  }
}

@media (width > 769px) {
  header {
    .nav-bar {
      .btn-mobile {
        display: none;
      }

      ul {
        display: flex;
        flex-direction: row;
        position: static;
        gap: 2rem;
        width: auto;
        padding: 0;

        .link {
          position: relative;
          text-decoration: none;
          transition: all 0.3s ease;

          &::before {
            content: "";
            height: 2px;
            width: 0;
            position: absolute;
            bottom: -4px;
            left: 0;
            background-color: var(--text-primary);
            transition: width 0.5s ease;
          }

          &:hover::before {
            width: 100%;
          }
        }
      }
    }
  }

  .main {
    h1 {
      font-size: 2.8rem;
    }

    h2 {
      font-size: 2.4rem;
    }

    .redes {
      padding-left: 18%;

      img {
        width: 48px;
      }
    }

    .call-on-action {
      padding: 10px 16px;
      font-size: 1.6rem;
    }
  }
}
