* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-family);
  color: var(--color-text);
}

body {
  background: var(--bg-color);
}

.btn {
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 600;
  background: transparent;
  transition: background-color 0.3 ease;
}

.btn-mobile {
  font-size: 1.5rem;
}

.btn-dafault {
  background: var(--color-primary);
  color: var(--color-text);

  &:hover {
   background: #8b42f8;
  }
}

:root {
  --color-text: #dedede;
  --bg-header: #2f2f2f;
  --bg-color: #212121;
  --color-primary: #9250f7;
  --font-family: "Poppins", sans-sarif; 
}