header {
  background: var(--bg-header);
  padding: 12px 4%;
  position: sticky;
  top: 0;
  z-index: 1;

  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    ul {
      display: none;
      list-style: none;
      flex-direction: column;
      gap: 0.5rem;
      width: 100%;
      position: absolute;
      top: 100px;
      background-color: var(--bg-header);
      left: 0;
      padding: 1rem;

      &.show {
        display: flex;
      }

      li {
        text-align: center;

        a {
          text-decoration: none;
          font-size: 1rem;
          font-weight: 500;
          transition: all 0.3s ease;

          &:hover {
            color: var(--color-primary);
            border-bottom: 1px solid var(--color-primary);
          }
        }
      }
    }

    .btn-default {
      display: none;
    }
  }
}
